<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="patternfull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <File name="TxtFile" fileName="logs/applicationLog.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="TxtFile"/>
        </Root>
        <Logger name="by.training.finalproject.controller.command.impl.AddComment" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToAdPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToHomePage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToSignUpPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.SignIn" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.SignUp" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.LikeAd" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToAddAdPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.AddAdInfo" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToUserProfilePage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.DeleteAdInfo" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToEditAddPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.EditAdInfo" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToTypesPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.AddClothesType" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.EditClothesType" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.DeleteClothesType" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToUsersPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.DeleteUser" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.GoToEditUserPage" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.EditUser" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.DeleteComment" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.SearchAds" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.FilterAdsByType" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.CommandProvider" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>

        <Logger name="by.training.finalproject.controller.filter.SecurityFilter" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>

        <Logger name="by.training.finalproject.controller.listener.ContextListener" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.listener.SessionAttributesListener" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>

        <Logger name="main.Main" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
    </Loggers>
</Configuration>